<div>
    <table class="table table-hover">
        <caption>总记录数量: {{data.totalElements}}</caption>
        <thead>
        <tr>
            <th>摘要</th>
            <th>关键词</th>
            <th>分类号</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="summary in data.content">
            <td>
                <abbr title="{{summary.summary}}" style="border-bottom:none; text-decoration:none">
                    {{summary.summary | textLengthSet:true:20:'...'}}
                </abbr>
            </td>
            <td>{{summary.keywords}}</td>
            <td>{{summary.catelogs}}</td>
            <td>
                <a type="button" class="btn btn-primary btn-sm" href="#/summaryDetailPage/{{summary.id}}">查看详情</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="{{data.first == true ? 'disabled' : ''}}"
                ng-click="number = (data.first == true ? number : number - 1)">
                <a href="javascript:void(0);" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li ng-show="data.number - 1 > 0" ng-click="number = number - 2"><a href="javascript:void(0);">{{data.number
                - 1}}</a></li>
            <li ng-show="data.number > 0" ng-click="number = number - 1"><a
                    href="javascript:void(0);">{{data.number}}</a>
            </li>

            <li class="active"><a href="javascript:void(0);">{{data.number + 1}}</a></li>

            <li ng-show="data.number + 2 <= data.totalPages" ng-click="number = number + 1"><a
                    href="javascript:void(0);">{{data.number + 2}}</a></li>
            <li ng-show="data.number + 3 <= data.totalPages> 0" ng-click="number = number + 2"><a
                    href="javascript:void(0);">{{data.number + 3}}</a></li>


            <li class="{{data.last == true ? 'disabled' : ''}}"
                ng-click="number = (data.last == true ? number : number + 1)">
                <a href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

