<div>
    <h2>摘要</h2>
    <p>{{summary.summary}}</p>
    <h2>关键词</h2>
    <p>{{summary.keywords}}</p>
    <h2>分类号</h2>
    <p>{{summary.catelogs}}</p>
    <h2 ng-click="switchShowTerms()">分词</h2>
    <div class="row" ng-show="showTerms">
        <div class="col-md-1" ng-repeat="term in analyzation.terms track by $index">
            {{term}}
        </div>
    </div>
    <h2>ansj关键词提取结果</h2>
    <div class="row">
        <div class="col-md-1" ng-repeat="keyword in analyzation.ansjKeywords">
            {{keyword}}
        </div>
    </div>

</div>